*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
    padding:16px;
}

.header__container{
    display: flex;
	justify-content: space-between;    
	max-width: 1366px;
	margin: auto;
}

.header__imagotype{
    width:170px;
    margin:0 16px;
}

.header__menu_desktop{
    display:none;
}

/*            MAIN            */

.home__introduction{
    background-image: url("../assets/hero_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
}

.home__introduction__container{
    max-width:1336px;
}

.home__introduction__container__floating{
    width:320px;
    height:auto;
    padding: 13px;
    background-color: #000;
    display:flex;
    flex-direction:column;
    color:white;
}

.home__title{
    font-size:20px;
    text-transform: uppercase;
    border-left: 10px solid red;
    margin-left: 25px;
    margin-bottom:20px;
    padding:0 15px;
}

.home__link-1{
    color:white;
    text-decoration:none;
    align-self:flex-end;
    font-size:14px;
}


/*            MENU MOBILE            */


.header__button_menu{
    background-color:unset ;
    border:unset;
    outline:unset;
}

.top_bar,.mid_bar,.both_bar{
    width:30px;
    height:3px;
    background-color:black;
    margin:5px;
    transition:transform .4s;
}

.change .mid_bar{
    transition:opacity .4s;
    opacity:0;
}

.change .top_bar{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .both_bar{
    transform: rotate(45deg) translate(-4.5px, -3px);

}

.header__menu_mobile{
    display:none;
    justify-content: center;
    background-color: #fff;
    padding:0;
}

.menu_mobile--active{
    display:flex;
}

.header__menu_mobile nav{
    display:flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding:30px 0;

}

.header__menu_mobile nav a{
    text-decoration:none;
    color:gray;
    font-size:25px;
    letter-spacing:3px;
}

/*            DESKTOP MENU            */


.header__menu_desktop a{
    font-size:22px;
    font-weight:500;
    color:gray;
    text-decoration:none;
    margin:0 10px;
}

.header__menu_desktop a{
    position:relative;
}

.header__menu_desktop a::after,
.menu_desktop a:first-child::after{
    content:"";
    width:0;
    height:5px;
    background-color:red;
    border-radius: 8px;
    position:absolute;
    top:30px;
    left:50%;
    transition:width .6s;

}

.header__menu_desktop a:hover::after{
    width:50%;
}

.header__menu_desktop a:first-child::after{
    width:50%;
}

/*            OTHER            */


.bold{
    font-family: "bold";
}

.light{
    font-family:"light"
}

.regular{
    font-family: "regular";
}

@font-face{
    font-family: "bold";

    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: normal;
    font-style: normal;}

@font-face{
    font-family: "light";

    src:url("../fonts/Poppins-Light.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"regular";

    src:url("../fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

.floating{
    position: fixed;
	bottom: 50px;
	left: 0;
	z-index: 2;
	background-color: #FFF;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.floatings__icons ul img{
    width:45px;
    border-radius: 50%;
    border:1px solid black;
}

.floatings__icons ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
